:root {
    --background: #2197C9;
    --light-grey: #D9D9D9;
    --dark-blue: #0E3F53;
    --grey: #EFEBEB;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
